.heading svg{
    margin-right: 10px;
}
.item{
    max-width: 350px;
    color: var(--white);
    border-radius: 5px;
}
.item p{
    margin: 0;
    font-size: 15px;
    color: #888686;
    margin-bottom: 5px;
}
.item h3{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
}
.item span{
    font-size: 15px;
    color: var(--white);
}
@media (max-width: 1075px){
    .item{
        max-width: 100%;
    }
}