.item{
    border-radius: 10px;
    max-width: 375px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, .12);
    max-height: 600px;
    cursor: pointer;
    margin-bottom: 35px;
}
.item:hover{
    box-shadow: 0 30px 60px rgba(0, 0, 0, .12);
}
.thumb{
    max-width: 375px;
    border-radius: 10px 10px 0 0;
}
.textWrapper{
    padding: 0 15px;
}
.byWrapper{
    padding: 0 15px 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}